<div class="col-md-2"></div>
<div class="col-md-8">
	<h1 class="display"><em>MAKING PEOPLE HAPPY</em></h1>
	<p>Reading the crowd and keeping the flow going is 
					paramount.&nbsp; Playing the occasional request to keep your 
					guests happy is also important.&nbsp; Easy listening music 
					during dinner is always a plus.</p>
			
	<hr/>
	<h2 class="display">Line Dance </h2>
	<p>Conga Line - Electric Slide - Hustle - Cha Cha Slide<br>
		Soul Train - Tush Push - Macarena<br>
		Y.M.C.A. - Bunny Hop - Limbo - Hokey Pokey - Chicken Dance<br>
		Achy Breaky Heart - Boot Scooting Boogie - Many 
		More...</p>

	<hr/>
	
	<h1 class="display">SATISFIED CUSTOMERS</h1>

	<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
	        	California Correctional Worker's Association 80's Dance Party 2014
	        </a>
	      </h4>
	    </div>
	    <div id="collapse1" class="panel-collapse collapse in">
	      <div class="panel-body">
			<div class="col-md-12 text-center">
				<img border="0" src="images/1.jpg">
				<img border="0" src="images/2.jpg">
				<img border="0" src="images/3.jpg">
				<img border="0" src="images/4.jpg">
				<img border="0" src="images/5.jpg">
				<img border="0" src="images/80'S.jpg">
			</div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
	        Cancer Benefit at La Mina Restaurant (Gosford &amp; District) 2014
			</a>
	      </h4>
	    </div>
	    <div id="collapse2" class="panel-collapse collapse">
	      <div class="panel-body">
			<div class="col-md-12 text-center">
				<img border="0" src="images/93.jpg">
				<img border="0" src="images/103.jpg">
				<img border="0" src="images/123.jpg">
				<img border="0" src="images/133.jpg">
				<img border="0" src="images/162.jpg">
				<img border="0" src="images/171.jpg">
		    </div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
	        Foothill High School 90's Class 
				Reunion<br/>Double Tree Bakersfield</a>
	      </h4>
	    </div>
	    <div id="collapse3" class="panel-collapse collapse">
	      <div class="panel-body">
			<div class="col-md-12 text-center">
				<img border="0" src="images/R11.jpg">
				<img border="0" src="images/R10.jpg">
				<img border="0" src="images/R9.jpg">
				<img border="0" src="images/R8.jpg">
				<img border="0" src="images/R7.jpg">
				<img border="0" src="images/R6.jpg">
				<img border="0" src="images/R5.jpg">
				<img border="0" src="images/R4.jpg">
				<img border="0" src="images/R3.jpg">
				<img border="0" src="images/R2.jpg">
				<img border="0" src="images/R1.jpg">
			</div>
		  </div>
	    </div>
	  </div>
	</div>

</div>

 <div class="col-md-2"></div>