<center>
  <h1><em><strong>F.A.Q.
  </strong></em></h1>
  <table width="710" border="0" cellspacing="0" cellpadding="0" align="center">
		<tbody><tr>
			<td><h3>Listed below are a few of the most frequently asked questions that have been asked of 
			Keith. If you have any questions that are not covered here, please feel free to ask.
				</h3>					  <hr>
			</td>
		</tr>
	</tbody></table>
	<table width="710" border="0" cellspacing="0" cellpadding="5" align="center">
		<tbody><tr valign="top">
			<td width="345"><strong>Q: Who   will be my Disc Jockey?</strong></td>
			<td width="345"><strong>Q: Should   we include you in our count for lunch/dinner?</strong></td>
		</tr>
		<tr valign="top">
			<td width="355"><p><em>A: Keith's DJ Service has only one DJ--Keith 
			Reynolds. Since I am the owner, you will get   the extra effort that you can't get with an employee from another   company.</em></p></td>
			<td width="345"><em>A: Although it is not required, a meal 
			would be appreciated. Keith puts in close to   eight hours to do a four hour reception, which is a long time between   meals.</em></td>
		</tr>
		<tr valign="top">
			<td width="355"><hr>					  <strong>Q: Can I   meet with 
			Keith, before making my decision?</strong><strong><br>
			</strong></td>
			<td width="345"><hr>					  <strong>Q: Do you   have lighting available?</strong></td>
		</tr>
		<tr valign="top">
			<td width="355"><em>A: Yes.   You will feel much more confident about your decision if you meet your   entertainer face to face.</em></td>
			<td width="345"><em>A: Yes, but Keith does not recommend it at a wedding reception. It can draw attention   away from where it should be, the Bride and Groom.</em></td>
		</tr>
		<tr valign="top">
			<td width="355"><hr>					  <strong>Q: Do you   charge for travel or set-up?<br>
			</strong></td>
			<td width="345"><hr>					  <strong>Q: Do you   have backup equipment?</strong></td>
		</tr>
		<tr valign="top">
			<td width="355"><em>A: There is no charge for either except in extreme circumstances, i.e.: no   elevator access to an upstairs event, or an event that requires extensive   travel.</em></td>
			<td width="345"><em>A: Yes, each of the major components have back-up capabilities built into the   sound system.</em></td>
		</tr>
		<tr valign="top">
			<td width="355"><hr>					  <strong>Q: If my   reception runs later, can you stay longer?</strong></td>
			<td width="345"><hr>					  <strong>Q: If   something happened to my D.J., who would do my wedding?</strong></td>
		</tr>
		<tr valign="top">
			<td width="355"><em>A: Keith love’s a good party, and would 
			be happy to stay. But, If you are having an afternoon event, 
			Keith suggests that you schedule enough time when you   sign our contract. He may have an evening event scheduled, and we would hate to   end your event prematurely.</em></td>
			<td width="345"><em>A: It would take something very 
			debilitating to keep Keith from entertaining   at your wedding. In the event this should happen, he has qualified personnel who   could be called in as back-ups</em>.</td>
		</tr>
		<tr valign="top">
		  <td><hr>				    <strong>Q: When   will you arrive on my wedding day?</strong></td>
		  <td width="345"><hr>				    <strong>Q: If I   want a song that you do not have, can I loan you my copy?</strong></td>
	  </tr>
		<tr valign="top">
		  <td><em>A: Keith arrives approximately two hours prior to his scheduled starting time.   Please let him know if you need him to set up any earlier.</em></td>
		  <td width="345"><em>A: Yes, Keith can play your compact disc or your mp3 file. But, if your song   is on a record or cassette, he would need it at least a week in advance to   record it for play.</em></td>
	  </tr>
		<tr valign="top">
		  <td><hr>				    <strong>Q: Do you   take breaks?</strong></td>
		  <td width="345"><hr>				    <strong>Q: What   types of music can you play?</strong></td>
	  </tr>
		<tr valign="top">
		  <td><em>A: No! You will have continuous music from the scheduled to start time until   it's time to end.</em></td>
		  <td width="345"><em>A: Whatever you want Keith to play. The 
			only exclusions are songs with explicit lyrics in them</em>. 
			I will not play if minors are present.</td>
	  </tr>
		<tr valign="top">
		  <td><hr>				    <strong>Q: Can   you play my ceremony music?</strong></td>
		  <td width="345"><hr>				    <strong>Q: Can I   make a list of songs I want played?</strong></td>
	  </tr>
		<tr valign="top">
		  <td><em>A: Keith has a separate sound systems just for ceremony music. If your   ceremony is in a remote area where there is no electricity available, his   ceremony system can have it's own power source.</em></td>
		  <td width="345"><em>A: Yes! Requests are encouraged. Keith does not recommend you format the   music ahead of time; there is no way to know what direction a party will   take.</em></td>
	  </tr>
		<tr valign="top">
		  <td><hr>				    <strong>Q: We   have never planned a wedding before. Will you help us set an itinerary for the   day?</strong></td>
		  <td width="345"><hr>				    <strong>Q: What   payment types do you accept?</strong></td>
	  </tr>
		<tr valign="top">
		  <td><em>A: One month before your wedding, you will get 
			together with Keith for a   consultation; he will work out the details regarding the order of events and   music program.</em></td>
		  <td width="345"><em>A: Keith accepts checks and cash. If you wish to pay with your credit card,   you can do so through PayPal. Please call or email for details.</em></td>
	  </tr>
	</tbody></table>
</center>