

<div class="col-md-2"></div>
<div class="col-md-8 faq" >
  <h1 class="display">Frequently Asked Questions</h1>
  <h3>Listed below are a few of the most frequently asked questions that have been asked of 
			Keith. If you have any questions that are not covered here, please feel free to ask.</h3>
			<hr/>
	<div class="col-md-6">
		<div class="col-md-12" >
			<p><strong>Q: Who   will be my Disc Jockey?</strong></p>
			<p>A: Keith's DJ Service has only one DJ--Keith Reynolds. Since I am the owner, you will get   the extra effort that you can't get with an employee from another company.</p>
		</div>

		<div class="col-md-12" >
			<p><strong>Q: Should we include you in our count for lunch/dinner?</strong></p>
			<p>A: Although it is not required, a meal 
					would be appreciated. Keith puts in close to   eight hours to do a four hour reception, which is a long time between   meals.</p>
		</div>

		<div class="col-md-12" >
			<p><strong>Q: Can I   meet with 
					Keith, before making my decision?</strong></p>
			<p>A: Yes.   You will feel much more confident about your decision if you meet your   entertainer face to face.</p>
		</div>

		<div class="col-md-12" >
			<p><strong>Q: Do you   have lighting available?</strong></p>
			<p>A: Yes, but Keith does not recommend it at a wedding reception. It can draw attention   away from where it should be, the Bride and Groom.</p>
		</div>

		<div class="col-md-12" >
			<p><strong>Q: Do you   charge for travel or set-up?</strong></p>
			<p>A: There is no charge for either except in extreme circumstances, i.e.: no   elevator access to an upstairs event, or an event that requires extensive   travel.</p>
		</div>

		<div class="col-md-12" >
			<p><strong>Q: Do you   have backup equipment?</strong></p>
			<p>A: Yes, each of the major components have back-up capabilities built into the   sound system.</p>
		</div>

		<div class="col-md-12" >
			<p><strong>Q: If my   reception runs later, can you stay longer?</strong></p>
			<p>A: Keith love’s a good party, and would 
					be happy to stay. But, If you are having an afternoon event, 
					Keith suggests that you schedule enough time when you   sign our contract. He may have an evening event scheduled, and we would hate to   end your event prematurely.</p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-md-12" >
			<p><strong>Q: If   something happened to my D.J., who would do my wedding?</strong></p>
			<p>A: It would take something very 
					debilitating to keep Keith from entertaining   at your wedding. In the event this should happen, he has qualified personnel who   could be called in as back-ups</p>
		</div>

		<div class="col-md-12" >
			<p><strong>Q: When   will you arrive on my wedding day?</strong></p>
			<p>A: Keith arrives approximately two hours prior to his scheduled starting time.   Please let him know if you need him to set up any earlier.</p>
		</div>

		<div class="col-md-12" >
			<p><strong>Q: If I   want a song that you do not have, can I loan you my copy?</strong></p>
			<p>A: Yes, Keith can play your compact disc or your mp3 file. But, if your song   is on a record or cassette, he would need it at least a week in advance to   record it for play.</p>
		</div>

		<div class="col-md-12" >
			<p><strong>Q: Do you   take breaks?</strong></p>
			<p>A: No! You will have continuous music from the scheduled to start time until   it's time to end.</p>
		</div>

		<div class="col-md-12" >
			<p><strong>Q: What   types of music can you play?</strong></p>
			<p>A: Whatever you want Keith to play. The 
					only exclusions are songs with explicit lyrics in them. 
					I will not play if minors are present.</p>
		</div>

		<div class="col-md-12" >
			<p><strong>Q: Can   you play my ceremony music?</strong></p>
			<p>A: Keith has a separate sound systems just for ceremony music. If your   ceremony is in a remote area where there is no electricity available, his   ceremony system can have it's own power source.</p>
		</div>

		<div class="col-md-12" >
			<p><strong>Q: Can I   make a list of songs I want played?</strong></p>
			<p>A: Yes! Requests are encouraged. Keith does not recommend you format the   music ahead of time; there is no way to know what direction a party will   take.</p>
		</div>

		<div class="col-md-12" >
			<p><strong>Q: We   have never planned a wedding before. Will you help us set an itinerary for the   day?</strong></p>
			<p>A: One month before your wedding, you will get 
					together with Keith for a   consultation; he will work out the details regarding the order of events and   music program.</p>
		</div>

		<div class="col-md-12" >
			<p><strong>Q: What   payment types do you accept?</strong></p>
			<p>A: Keith accepts checks and cash. If you wish to pay with your credit card,   you can do so through PayPal. Please call or email for details.</p>
		</div>
	</div>

</div>
 <div class="col-md-2"></div>