<div class="col-md-2"></div>
<div class="col-md-8">
  <div class="col-md-12 text-center bottom-border">
    <div class="col-md-8"><h2 class="text-scale display">The Right Entertainer<br/>for<br/>The Right Reasons </h2></div>
    <div class="col-md-4"><img src="images/Keith.jpg"/></div>
  </div>
   <p>
  When planning a wedding or private party, hours are spent putting the details together  as to when certain events will happen, and who is involved. Your event can be well  planned out in advance, but the one item that cannot be planned is how your guests will  react to the music you have selected.</p>
   
   <p>When considering who you hire to present your music, and be your entertainer, there are  a few factors to consider: Do they have the personality you want to represent you at  your event? Will they keep your event running smoothly? Do they have the music  available that fits the party? Do they have the right equipment to fit the needs of  your event? These are all good questions, but the most important question is do they  have the experience to adjust to the atmosphere of your wedding or party, and tailor  the music to what will get your guests out of their chairs an onto the dance  floor.</p>
   
   <p>Keith's DJ Service has the answers to all those questions and more. With Keith  Reynolds as your entertainer, you will have his outgoing personality to represent you;  his ability to keep your event on track by working with all your vendors so they all  work as a team; his music library which ranges from the 1940s up to the cutting edge of  tomorrow's hits; and his completely digital cutting edge sound system.</p>

   <p>When choosing an entertainer for your special event, make sure you make the right  choice for the right reason.</p>
 </div>
 <div class="col-md-2"></div>