  <div class="col-md-12 text-center splash">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <div class="col-md-12 halfpad "></div>
        <div class="col-md-8">
          <h1 class="text-scale front">The Right Entertainer<br>
          for<br>
          The Right Reasons</h1>
        </div>

        <div class="col-md-4"><div class="front front-img"><img src="images/Keith.png"></div></div>
    </div>

    <div class="col-md-2"></div>
  </div>

  <div class="col-md-12 text-center splashfoot"></div>

  <div class="col-md-2"></div>

  <div class="col-md-8 pagetall">

    <p>When selecting who to hire to present your music and be your entertainer for a wedding or private party, there are a few factors to consider. Does the DJ have the personality you want to represent you at your event?
    Will they keep your event running smoothly? Do they have the right equipment and music available to fit the needs of your party?</p>

    <p>Keith's DJ Service has the answers to all these questions and more. With Keith Reynolds as your entertainer you will have his outgoing personality to represent you, his ability to keep
    your event on track by working with your vendors as a team, his music library which ranges from the 1940's up to the cutting edge of tomorrow's hits, and his completely
    digital, state-of-the-art sound system assured to get your guests out of their chairs and onto the dance floor.</p>

    <p>When choosing an entertainer for your special event, make sure you make the right choice for the right reasons.</p>
  </div>

  <div class="col-md-2"></div>