<div class="col-md-2"></div>
<div class="col-md-8">
	<h1 class="display"> Personal Service</h1>
	<p>When it comes to service, Keith's DJ Service is unsurpassed; you get the attention of an owner at every event. You will start with a private consultation with Keith weeks before your event, where you will discuss both music and event timing. The consultation is also an opportunity to get to know you better so Keith can further personalize your party.</p>
	<hr/>
	<h2 class="display">Customer Quotes:</h2>
	<blockquote>Keith was at the Elk's Lodge several hours before our event began. During his Sound Check several of the Employees came from the Kitchen and bar area to see where his outstanding sound was coming from.
	
	The Music was unbelievably clear with a deep bass punch.  Our organization has hired several DJ's to do our events and none compared to Keith.
	
	The Music was great, our guest's danced the night away.  I would highly recommend Keith's DJ Service to everyone.
	<footer>Jerome Gonzalez - C.C.W.A. Board Member</footer></blockquote>


	<blockquote>When I asked Keith if he could DJ our Cancer Benefit without charge he didn't hesitate.  The Music and announcements were great and everyone who attended had a great time.

We raised over $2,000 for a friend in need who is fighting cancer.  Thank you again Keith for doing our event.  I will recommend you to anyone I come across who is looking for a DJ.
	<footer>Armondo Bonilla - Correctional Officer Wasco State Prison</footer></blockquote>
</div>
<div class="col-md-2"></div>