
	<div class="col-md-2"></div>

	<div class="col-md-8 text-center">
		<br>
		<img height="307" src="images/Proceed.png" width="301">

		<h1>ALL DISC JOCKEY COMPANIES<br>
		ARE NOT ALIKE!</h1>

		<div class='box-message' style="font-weight: bold">
			Below are some of the basic questions you should ask any disc jockey company before hiring their services.
		</div>

		<p></p>

		<table>
			<tbody>
				<tr>
					<td>
						<h3 style="font-weight: bold">Who will be entertaining at my event?</h3>

						<p>Hiring an entertainer is a very personal choice, so make sure that it is a person you choose, not just a company name. Be sure that you meet the disc jockey prior to
						signing a contract. You should also be guaranteed in writing that the person promised will be the same person who will entertain at your event.&nbsp;</p>

						<p style="font-weight: bold"></p>

						<h3 style="font-weight: bold">Will you play the music I want at my event?</h3>

						<p></p>

						<p>Any reputable disc jockey company will not only let you make a list of music that you wish to have played, but you should also be allowed to make a list of songs that you
						do not want to be played. In many cases, people know what they do not like more than what they do. You should also be able to provide any specialty music that you wish played
						that the company does not own and cannot locate; this is particularly important when dealing with ethnic music.&nbsp;</p>

						<p></p>

						<h3 style="font-weight: bold">Do you use commercial grade equipment, and do you carry back-up equipment?</h3>

						<p></p>

						<p>Most disc jockey companies use equipment that was designed to handle the everyday wear that mobile disc jockey equipment is subjected to.&nbsp; Some choose to upgrade their
						equipment and other's do not.&nbsp; Although any piece of equipment can fail, my sound equipment is all new (2014) and is used by many popular bands-recording artists
						today.&nbsp; I proudly use QSC KW 153 Tower Speakers (128 decibels) and QSC KW181 Subwoofers (135 decibels).</p>

						<p style="font-weight: bold"></p>

						<h3 style="font-weight: bold">DISCOUNT RATES FOR ALL<br>
						MILITARY, LAW ENFORCEMENT, FIRE-EMT AND NON-PROFIT</h3>

						<p></p>
					</td>
				</tr>
			</tbody>
		</table>

		<p></p>

		<p></p>
		<hr>

		<p></p>

		<p></p>

		<div class='box-message' style="font-weight: bold">
			This information is provided as an aid to buyers, and is based on what industry professionals from throughout the United States believe is important. These questions are only a starting
			point; all of your questions should be answered to your satisfaction before you sign a contract with any company.
		</div>

		<p></p>
	</div>

	<div class="col-md-2"></div>