<center>
    &nbsp;<img src="images/Proceed.png" width="301" height="307">
<h1><b><em>ALL DISC JOCKEY COMPANIES<br>
			  ARE NOT ALIKE!
			</em></b></h1>
			<h5><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="6">
			<hr size="3" width="710">
			</font></h5>
			<table border="2" cellpadding="5" cols="1" width="460">
		  <tbody><tr>
					<td><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><b>Below are some of the basic questions you should ask any disc jockey company before hiring their services.</b></font></td>
				</tr>
			</tbody></table>
			<p></p>
			<p>
			<table cols="1" width="710">
				<tbody><tr>
					<td><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><b>Who will be entertaining at my event?</b></font>
						<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">Hiring an entertainer is a very personal choice, so make sure that it is a person you choose, not just a company name. Be sure that you meet the disc jockey prior to signing a contract. You should also be guaranteed in writing that the person promised will be the same person who will entertain at your 
						event.&nbsp;</font></p>
                        <p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><b></b></font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><b>Will you play the music I want at my event?</b></font></p>
<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">Any reputable disc jockey company will not only let you make a list of music that you wish to have played, but you should also be allowed to make a list of songs that you do not want to be played. In many cases, people know what they do not like more than what they do. You should also be able to provide any specialty music that you wish played that the company does not own and cannot locate; this is particularly important when dealing with ethnic music.&nbsp;</font></p>
						<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><b>Do you use commercial grade equipment, and do you carry back-up equipment?</b></font></p>
<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">Most  disc jockey companies use equipment that was designed to handle the everyday wear that mobile disc jockey equipment is subjected to.&nbsp; 
Some choose to upgrade their equipment and other's do not.&nbsp; Although any 
piece of equipment can fail, my sound equipment is all new (2014) and is used by 
many popular bands-recording artists today.&nbsp; I proudly use QSC KW 153 Tower 
Speakers (128 decibels) and QSC KW181 Subwoofers (135 decibels).</font></p>
					  <p><b>
						<font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">
						DISCOUNT RATES FOR ALL</font></b><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><b> 
						MILITARY, LAW ENFORCEMENT, FIRE-EMT AND NON-PROFIT</b><br>
						&nbsp;</font></p>
						</td>
				</tr>
			</tbody></table>
			</p>
			<p>
			</p><hr size="3" width="710">
			<p></p>
			<p>
			<table border="1" cellpadding="5" width="460">
				<tbody><tr>
					<td><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">This information is provided as an aid to buyers, and is based on what industry professionals from throughout the United States believe is important. These questions are only a starting point; all of your questions should be answered to your satisfaction before you sign a contract with any company.&nbsp;</font></td>
				</tr>
			</tbody></table>
		</p></center>